 <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="credentials_text">
	<div class="login_box">
		<table class="front_page_header_login_table" cellspacing=10>
			<tr>
				<td colspan="2">
					<div class="member_sign_in">
						Welcome back!
					</div>
					<div class="member_sign_in_subtext">
						You can sign in with your email address below.
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="login_text">
						<%= f.label :email, "Email:" %>
					</div>
				</td>
				<td>
					<%= f.text_field :email, :class => "email_text_box" %>
				</td>
			</tr>
			<tr>
				<td>
					<div class="login_text">
						<%= f.label :password, "Password:" %>
					</div>
				</td>
				<td>
					<%= f.password_field :password, :class => "email_text_box" %>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="remember_me_text">
						<%= f.check_box :remember_me %>
					   	<%= f.label :remember_me, "Remember Me" %>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="login_image">
                                                <%= image_submit_tag("login_plain.png") %>
                                        </div>
                                        <div class="login_image_illuminated" style="display:none">
                                                <%= image_submit_tag("login_illuminated.png") %>
                                        </div>
                                        <div id="session_loading" style="display:none">
                                                <%= image_tag("email_loader.gif") %>
                                        </div>
				</td>
			</tr>
		</table>
                <%= render :partial => "devise/shared/links" %>
	</div>
</div>

<% end %>
