<% if @drop_off_visible %>
	<div class="meal_order_location_update_container">
		<div class="general_header">
			Change Today's Delivery Location
		</div>
		<% @locations = DropOffLocation.find :all %>
		<% @locations.each_with_index do |location, index| %>
			<table class="meal_order_location_table">
				<tr>
					<td valign="top" width="25%">
						<div class="drop_off_location_name">
							<%= location.name %>
						</div>
						<div class="drop_off_location_address">
							<%= location.street_address %>
						</div>
						<div class="drop_off_location_address">
							<%= "#{location.city}, #{location.state}" %>
						</div>
						<div class="drop_off_location_type">
							Location Type: <%= location.location_type %>
						</div>
					</td>
					<td width="1%" valign="top">
						<div class="add_recipient_link">
							<%= link_to image_tag("select_location_plain.png", :mouseover => "select_location_illuminated.png"), { :controller => "users", :action => "change_meal_order_location", :id => location.id, :meal_order => @outstanding_order.id }, :remote => true %>
						</div>
					</td>
				</tr>
				<tr>
					<td valign="top" width="20%">
						<div class="user_google_map">
							<%= image_tag(location.map_url) %>
						</div>
					</td>
				</tr>
			</table>
			<% if index < @locations.length - 1 %>
				<hr class="location_separator"/>
			<% else %>
				<div class="five_spacer"></div>
			<% end %>
		<% end %>
	</div>
<% end %>
