<%= form_for @user, :url => { :controller => "users", :action => "create" }, :remote => true do |f| %>
	<div id="registration_errors">
  		<%= render :partial => "error_messages" %>
	</div>
  	<div id="registration_form">
  		<%= render :partial => "users/form", :object => f %>
	</div>
	<div class="new_service_plan_required">
		* Required Field
	</div>
	<div class="clearboth"></div>
        <div class="register_button">
                <%= image_submit_tag("start_ordering.png", :class => "sign_up_button") %>
        </div>
        <div id="loading" style="display:none">
          <%= image_tag("email_loader.gif") %>
        </div>
<% end %>