<div class="step_three_container_user">
	<div class="step_one_subtext">
		<table class="step_table">
			<tr>
				<td width="1%">
					<%= image_tag("step_two.png", :class => "step_image") %>
				</td>
				<td nowrap="true">
					Now set your default delivery schedule. (This can be changed at any time.)
					<br>
					<div class="explanation">
						<%= link_to "What is this?", {:controller => "users", :action => "default_schedule_explanation"}, :popup => ['height=330,width=600'] %>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!--<div class="service_plan_image">-->
		<table class="service_plan_table">
			<tr>
				<td>
					Monday
				</td>
				<td>
					Tuesday
				</td>
				<td>
					Wednesday
				</td>
				<td>
					Thursday
				</td>
				<td>
					Friday
				</td>
			</tr>
			<tr>
				<td>
					<div id="monday">
						<% @day = "monday" %>
						<%= render :partial => 'user_reg_schedule_day' %>
					</div>
				</td>
				<td>
					<div id="tuesday">
						<% @day = "tuesday" %>
						<%= render :partial => 'user_reg_schedule_day' %>
					</div>
				</td>
				<td>
					<div id="wednesday">
						<% @day = "wednesday" %>
						<%= render :partial => 'user_reg_schedule_day' %>
					</div>
				</td>
				<td>
					<div id="thursday">
						<% @day = "thursday" %>
						<%= render :partial => 'user_reg_schedule_day' %>
					</div>
				</td>
				<td>
					<div id="friday">
						<% @day = "friday" %>
						<%= render :partial => 'user_reg_schedule_day' %>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="5" align="center">
					<%= link_to image_tag("choose_your_plan.png"), :url => { :controller => "users", :action => "advance_to_user_plans" }, :remote => true %>
				</td>
			</tr>
		</table>
	<!--</div>-->
</div>