<h1>Editing user_service_plan</h1>

<%= form_for(@user_service_plan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_service_plan %> |
<%= link_to 'Back', user_service_plans_path %>