<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @item.item_type %>
</p>

<p>
  <b>Description:</b>
  <%=h @item.description %>
</p>

<p>
  <b>Calories:</b>
  <%=h @item.calories %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>